* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kurale', serif;
}

body{
  height: 100vh;
   overflow-x: hidden;
  max-width: 100%;
}

header {
  margin: 0 auto;
  width: 100%;
}

header .brand {
  font-size: 5em;
  text-decoration: none;
  font-family: 'Carattere', cursive;
  color: black;
  margin-left: 1em;
}

header ul {
  display: flex;
  width: 95%;
  justify-content: space-around;
  padding-bottom: 40px;
  white-space: nowrap;
}

header ul li {
  list-style: none;
  text-align: center;
  margin-left: 2em;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: 'Cairo', sans-serif;
}

header ul li a:hover,
header ul li a:focus {
  font-weight: bold;
}

h1 {
  font-family: 'Cairo', sans-serif;
  color: black;
  font-size: 3em;
  text-align: center;
  padding-bottom: 1em;
}

.hidden {
  display: none
}

.sticky {
  position: fixed;
  width: 100%;
  background: white;
}

header.sticky ul li {
  padding-top: 20px;
}

.hamburger {
  width: 35px;
  height: 50px;
  position: fixed;
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 100%;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
}

.current-page {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.seasons {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.click-here {
  width: 95%;
  text-align: center;
  font-weight: bold;
}

.season-icons {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
}

.row {
  display: flex;
}

h2 {
  font-size: 2em;
  font-family: 'Cairo', sans-serif;
  padding-bottom: 1em;
}

.column {
  flex: 50%;
  min-height: 400px;
}

.season-icons i {
  padding: 1em 0;
}

.row p {
  margin: 0 3em;
}

span {
  font-weight: bold;
}

#autumn-icon:hover,
#autumn-icon:focus {
  color: #c2c2d6;
}

#winter-icon:hover,
#winter-icon:focus {
  color: #66ffff;
}

#spring-icon:hover,
#spring-icon:focus {
  color: #33ff33
}

#summer-icon:hover,
#summer-icon:focus {
  color: #ffcc00;
}

.season-icons h2 {
  padding-bottom: 1em;
}

.autumn-para, .spring-para, .winter-para, .summer-para {
  display: none;
}

.amazon {
  color: black;
}

.amazon:hover,
.amazon:focus {
  color: #ff9900;
}

.visible {
  display: block;
}

.subscribe{
display: flex;
flex-direction: column;
width: 100%;
text-align: center;
}
.newsletter .input{
  width: 50%;
  padding: 20px 50px;
  text-align: center;
  font-size: 18px;
  border: 1px solid grey;
  outline: none;
}

::placeholder {
  color: black;
}

.contact {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  justify-content: space-around;
}

.contact p {
  font-size: 18px;
  font-weight: bold;
}

.contact i {
  margin-left: 1em;
}

footer {
  position: relative;
  width: 100%;
}

.social-media {
  display: flex;
}

.social-media ul {
  padding: 10px;
  display: flex;
  width: 300px;
  height: 50px;
  margin: auto;
}

.social-items {
  list-style: none;
}

.social-items i {
  font-size: 25px;
  align-items: center;
  cursor: pointer;
}

.social-items i:hover,
.social-items i:focus {
  color: orange;
}

.social-media a {
  padding: 10px 20px;
  font-size: 30px;
}

.quick-links {
  display: flex;
  width: 350px;
  height: 70px;
  margin: auto;
}

.quick-links ul {
  display: flex;
  padding: 20px;

}

.quick-items {
  list-style: none;
}

.quick-items a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  color: black;
  transition: all .25s;
  font-family: 'Cairo', sans-serif;
}

.quick-items a:hover,
.quick-items a:focus {
  color: orange;
  font-weight: bold;
}

.outer-footer {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-family: 'Cairo', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 2px;
  width: 95%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 25px;
}

.fixed {
  overflow: hidden;
}


@media(max-width:750px) {
  .column {
    flex: none;
  }

  .row {
display: block;
  }

  header .brand{
    font-size: 3em;
  align-items: center;
  margin-right: 2em;
  }
  h1{
    font-size: 2em;
  }h2{
    font-size: 1.5em;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 5px;
    right: 40px;
  }

  .change .bar1 {
    transform: rotateZ(-405deg) translate(-8px, 7px);
  }

  .change .bar3 {
    transform: rotateZ(405deg)translate(-8px, -8px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .nav-list {
    height: 100%;
    width: 100%;
    position: fixed;
    background: white;
    display: none;
  }

  .nav-list ul{
flex-direction: column;
  }
  .nav-list.active {
    display: flex;
  }

  h1 {
    font-size: 2em;
    padding-top: 1em;
  }
  .subscribe h2{
    font-size: 22px;
  }.newsletter .input{
  width: 80%;
}
}
